.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.menu button {
  background-color: var(--main-bg);
  border: none;
  border-radius: 12px;
  color: inherit;
  cursor: pointer;
  margin: 20px auto;
  padding: 12px 40px;
}