#root {
  text-align: center;
  width: 100vw;
}

h1 {
  background-color: var(--main-bg);
  color: var(--main-txt);
  font-weight: bolder;
  padding: 20px;
}

.route {
  background-color: var(--main-bg);
  border: none;
  border-radius: 12px;
  color: var(--main-text);
  cursor: pointer;
  font-weight: 600;
  margin: 20px auto;
  padding: 12px 40px;
}

.route a {
  color: inherit;
}
